@import "btn.css";
body {
  overflow-x: hidden;
  * {
    font-size: 16px;
    line-height: 24px;
    font-family: muliregular, sans-serif;
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.btn.focus, .btn:focus {
  box-shadow: none !important;
}
.container {
  max-width: 95%;
  width: 95%;
  min-width: 95%;
}
.bg-wrap {
  background-color: #070513;
  background-color: #2a2927 ;
  background-image: url(../img/gbackground.jpg);
/*  background-image: url(../img/homepage.jpg);*/
  height: 99.9vh;
  height: 101vh;
  width: 99.99vw;
  background-size: cover;
  background-size: 100%;
  background-position: 0px 0px;
  .navbar {
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
    .logo {
      float: left;
      width: 350px;
      img {
        float: left;
        width: 100%;
        height: auto;
        position: relative;
        top: 8px;
      }
    }
    .right {
      justify-content: flex-end;
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: #fff;
            font-family: Muli-Light, sans-serif;
            font-size: 16px;
            line-height: 24px;
            font-family: muliextralight, sans-serif;
            transition: all ease 0.5s;
            padding: 13px 15px 13px 15px;
            top: 10px;
            position: relative;
            &:hover {
              color: #ee5f1c;
              color: #e51012;
              color: red;
            }
            img {
              width: 35px;
              position: relative;
              top: -5px;
              left: 5px;
            }
            &.slide {
              position: relative;
              &:after {
                content: "";
                width: 1px;
                height: 25px;
                background-color: #797676;
                position: absolute;
                right: 0px;
                top: 12px;
              }
            }
            &.border {
              margin-left: 15px;
            }
          }
          &.home {
            margin: 0px 5px 0px 0px;
            a {
              background-image: url(../img/icons/homes.png);
              background-size: 100%;
              width: 40px;
              height: 40px;
              position: relative;
              transition: all ease 1s;
              img {
                visibility: hidden;
              }
            }
            &:hover {
              a {
                background-image: url(../img/icons/home.png);
              }
            }
            span {
    display: none;
}
          }
        }
        .user-profile {

          .dropdown-menu {
background-color: #363633;
    color: #fff;
    border: 1px solid #444440;
    padding: 20px 12px;
    width: 350px;
    left: inherit;
    right: 0px;
    box-shadow: 1px 3px 4px 5px #1c1b1b;    top: 58px;
          }
          .dropdown-item {
    background-color: #C9C9C9;
    background-color: #42423f;
    color: #001722;
    font-size: 16px;
    font-family: muliregular, sans-serif;
    line-height: 24px;
    width: 85%;
    margin: 0px 12px;
    padding: 10px 5px;
    overflow: hidden;
    border: none !important;
    outline: none !important;
    transition: all ease 0.5s;
    z-index: 99;
    position: relative;
    bottom: 15px;
    margin: 0 auto;
    float: none;
    border-radius: 5px;
    text-align: center;
    margin: 0px 0px 10px 0px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #fff;
}
.dropdown-item:hover {
    background-color: #565650;
}
.price-detail {
    font-family: muliregular, sans-serif;
    font-size: 18px;
}
          .customer-details {
  float: left;
  width: 100%;
  border-bottom: none;
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 1px 0px;
  .name {
    font-size: 24px;
    font-family: muliregular, sans-serif;
    text-align: right;
    margin: 0px 0px 8px 0px;
  }
  .type {
    font-family: muliregular, sans-serif;
    text-align: right;
    font-size: 18px;
    color:  #ffcc03;
  }
  .info-wrap {
    float: left;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 15px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
    background-color: #050217;
    background-color: #2a2a28;
    padding: 15px ​15px 0px 15px;
    margin: 0px;
    border: none;
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
    span {
      font-family: mulisemibold, sans-serif;
      color: #fff;
      float: right;
      font-size: 18px;
      min-width: auto;
      text-align: right;
      position: relative;
      width: 170px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 20px;
          font-family: muliregular, sans-serif;
      &:before {
        content: ":";
        position: absolute;
        left: 0px;
        top: -2px;
        color: #fff;
      }
    }
  }
}

        }
      }
    }
  }
}
.contact {
    background-image: url(../img/yellowborder.png);
    position: fixed;
    bottom: -65px;
    z-index: 9999;
    width: 100%;
    height: 142px;
    background-size: cover;
    background-position: 0px -6px;
    transition: all ease 0.5s;
    background-size: 100%;
  .left {
    float: left;
    justify-content: left;
    a {
      font-family: mulisemibold, sans-serif;
      color: #001722;
      font-size: 20px;
      line-height: 30px;
      margin: 0px 20px 0px 0px;
      text-decoration: none;
      transition: all ease 0.5s;
      img {
        width: 45px;
        margin: 0px 5px 0px 0px;  transition: all ease 0.5s;background-color: #fff;border-radius: 60px;
      }
    }
  }
  .right {
    float: right;
    img {
      width: 250px;
      position: relative;
      bottom: 5px;
      margin: 0px 0px 0px 5px;  transition: all ease 0.5s;
    }
    a {
      font-family: mulisemibold, sans-serif;
      color: #001722;
      color:  #222220;
      font-size: 20px;
      line-height: 30px;
      position: relative;
      bottom: 5px;
      text-decoration: none;
      transition: all ease 0.5s;
    }
  }
  .wrap {
    position: relative;
    top: 82px;
  }
  a {
    &:hover {
       color:  #222220;
    }
  }

  &.hide {
    bottom: -70px;
    transition: all ease 0.5s;
  }
  &.open {
    bottom: 0px;
    transition: all ease 0.5s;
  }
}
.back-btn-wrap {
  position: fixed;
  top: 230px;
  left: 0px;
  z-index: 99;
  position: fixed;
  top: 230px;
  left: 0px;
  z-index: 99;
  a {
    display: block;
    width: 55px;
    height: 55px;
    float: left;
    background-color: #001722;
    z-index: 99;
    background-image: url(../img/icons/left.png);
    background-size: 46px;
    border-radius: 0px 50px 50px 0px;
    border-left: 0px;
    background-repeat: no-repeat;
    background-position: 3px 2px;
    transition: all ease 1s;
    font-family: muliregular, sans-serif;
    color: #fff;
    font-size: 24px;
    left: 56px;
    padding: 12px 0px 0px 53px;
    overflow: hidden;
    text-decoration: none;
    background-color: #b20305;
    &:hover {
      width: 130px;
      transition: all ease 1s;
      background-color: #b20305;
    }
  }
  button {
    display: block;
    width: 55px;
    height: 55px;
    float: left;
    background-color: #001722;
    z-index: 99;
    background-image: url(../img/icons/left.png);
    background-size: 46px;
    border-radius: 0px 50px 50px 0px;
    border-left: 0px;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    transition: all ease 1s;
    left: 56px;
    padding: 0px 0px 0px 53px;
    overflow: hidden;
    text-decoration: none;
    background-color: #b20305;
    box-shadow: none;
    border: none;
    &:hover {
      width: 130px;
      transition: all ease 1s;
      background-color: #b20305;
    }
    span {
      font-family: muliregular, sans-serif;
      color: #fff;
      font-size: 24px;
      margin: 0px 15px 0px 0px;
    }
  }
}
.hvr-red-right:hover, .hvr-red-right:focus, .hvr-red-right:active {
  color: white;
}
.hvr-red-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7d0001;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}
.hvr-red-right:hover:before, .hvr-red-right:focus:before, .hvr-red-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-blue-right:hover, .hvr-blue-right:focus, .hvr-blue-right:active {
  color: white;
}
.hvr-blue-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #83818f;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}
.hvr-blue-right:hover:before, .hvr-blue-right:focus:before, .hvr-blue-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.round-btn {
  position: relative;
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  overflow: hidden;
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  & > *:before {
    left: 0;
  }
  & > *:after {
    right: 0;
  }
  & > * {
    & > *:before {
      top: 0;
      transform: translate3d(-105%, 0, 0);
      transition: transform .8s cubic-bezier(0.4, 0, 0.2, 1);
    }
    & > *:after {
      bottom: 0;
      transform: translate3d(105%, 0, 0);
      transition: transform .8s cubic-bezier(0.4, 0, 0.2, 1);
    }
    & > * {
      & > *:before {
        left: 0;
        transform: translate3d(0, 105%, 0);
        transition: transform .8s cubic-bezier(0.4, 0, 0.2, 1);
      }
      & > *:after {
        right: 0;
        transform: translate3d(0, -105%, 0);
        transition: transform .8s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
.round-btn:before, .round-btn:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #3e3d3d;
}
.round-btn:hover>*>*:before, .round-btn:hover>*>*:after {
  transform: translate3d(0, 0, 0);
}
.round-btn:hover>*>*>*:before, .round-btn:hover>*>*>*:after {
  transform: translate3d(0, 0, 0);
}
.round-btn>*:before, .round-btn>*:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #3e3d3d;
}
.round-btn>*>*:before, .round-btn>*>*:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 9;
  height: 2px;
  width: 100%;
  background-color: #B20305;
}
.round-btn>*>*>*:before, .round-btn>*>*>*:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 2px;
  background-color: #B20305;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #01010ced;
  z-index: 9999999;
  display: block;
  float: left;
  top: 0;
  left: 0px;
  text-align: center;
  img {
    width: 95px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    top: 35%;
  }
  p {
    width: 100%;
    text-align: center;
    position: relative;
    top: 35%;
    span {
      margin: 0 auto;
      color: #fff;
      font-family: 'mulisemibold';
      font-size: 26px;
    }
  }
}
.wrh {
  position: fixed;
  top: 69%;
  right: -118px;
  width: auto;
  transform: rotate(-90deg);
  z-index: 999999;
  border-radius: 10px 10px 0px 0px !important;
  .title {
    background-color: #B20305;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-family: muliregular, sans-serif;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px !important;
    display: block;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 30px;
      margin: 0px 10px 0px 0px;
      position: relative;
      top: -2px;
    }
  }
}
.top-btn-wrap {
  float: right;
  width: 100%;
  text-align: right;
  margin: 0px 0px 20px 0px;
  .btn {
    &.num-car {
      font-family: mulisemibold, sans-serif;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      padding: 12px 20px;
      display: inline-block;
      background-color: #b20305;
      background-color: #90181a;
      width: auto;
      img {
        width: 80px;
        margin: 0px 10px 0px 0px;
      }
      span {
        font-family: mulisemibold, sans-serif;
        font-size: 30px;
        position: relative;
        top: 5px;
        margin: 0px 0px 0px 5px;
      }
    }
    &.fac-car {
      font-family: mulisemibold, sans-serif;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      padding: 12px 20px;
      display: inline-block;
      background-color: #b20305;
      background-color: #444161cc;
      width: auto;
      margin: 0px 10px 0px 0px;
      opacity: 0;
      transition: all ease 0.5s;
      &.show {
        opacity: 1;
        transition: all ease 0.5s;
      }
      img {
        width: 80px;
        margin: 0px 10px 0px 0px;
      }
      span {
        font-family: mulisemibold, sans-serif;
        font-size: 30px;
        position: relative;
        top: 5px;
        margin: 0px 0px 0px 5px;
      }
      &:before {
        background-color: #2f2c3fcc;
      }
    }
  }
  .num-car {
    &.hvr-sweep-to-left {
      &:before {
        background: #7d0001;
      }
    }
  }
}
.animate__swing {
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  &.animate__infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}
.animate__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.user-profile {
  button {
    background-color: #C9C9C9;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-family: muliregular, sans-serif;
    line-height: 24px;
    width: 65%;
    margin: 0px 12px;
    padding: 8px 25px 8px 33px;
    overflow: hidden;
    outline: none !important;
    transition: all ease 0.5s;
    z-index: 99;
    position: relative;
    bottom: -5px;
    margin: 0 auto;
    float: none;
    width: auto;
    border: 1px solid #b34c1b;
    cursor: pointer;
    &:hover {
      background-color: transparent !important;
      outline: none !important;
          border: 1px solid #ef5f1b;
    }
    img {
      width: 35px;
      position: relative;
      right: 8px;
    }
  }
}
.user-profile button:not(:disabled):not(.disabled).active, .user-profile button:not(:disabled):not(.disabled):active, .show>.user-profile button.dropdown-toggle {
  background-color: #393745 !important;
  outline: none !important;
  border: 1px solid #515050;
  background-color: transparent !important;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

}


@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg)
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg)
  }

  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg)
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

}

@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg)
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg)
  }

  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg)
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

}

* {
  scrollbar-width: thin;
  scrollbar-color: #6f6f6f #6f6f6f; }

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px; }

*::-webkit-scrollbar-track {
  background: #6f6f6f;
  border-radius: 50px; }

*::-webkit-scrollbar-thumb {
  background-color: #6f6f6f;
  background-color: #fff;
  border-radius: 50px;
  border-top: 10px solid #6f6f6f; }
@media only screen and (max-width:1685px) {
  .bg-wrap .navbar .logo {
    width: 300px
  }

  .back-btn-wrap {
    top: 210px
  }

  .bg-wrap .navbar {
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 30px 0px
  }

  .top-btn-wrap .btn.num-car {
    font-size: 18px;
    line-height: 27px;
    padding: 10px 20px
  }

}

@media (max-width:1610px) {
  .top-btn-wrap .btn.num-car, .top-btn-wrap .btn.fac-car {
    font-size: 18px;
    line-height: 27px;
    padding: 8px 15px
  }

  .top-btn-wrap .btn.num-car img, .top-btn-wrap .btn.fac-car img {
    width: 70px;
    margin: 0px 10px 0px 0px
  }

  .top-btn-wrap .btn.num-car span, .top-btn-wrap .btn.fac-car span {
    font-size: 28px
  }

  .top-btn-wrap {
    margin: 0px 0px 20px 0px
  }

}

@media (max-width:1550px) {
  .top-btn-wrap {
    margin: 0px 0px 12px 0px
  }

}

@media only screen and (max-width:1450px) {
  .bg-wrap .navbar .logo {
    width: 260px
  }

.back-btn-wrap {
    top: 172px;
}

  .top-btn-wrap .btn.num-car img, .top-btn-wrap .btn.fac-car img {
    width: 60px;
    margin: 0px 10px 0px 0px
  }

  .top-btn-wrap {
    margin: 0px 0px 5px 0px
  }
  .back-btn-wrap a {
    
    width: 55px;
    height: 45px;
   
    background-size: 40px;
   
    background-position: 8px 2px;
   
    font-size: 22px;
   
    padding: 9px 0px 0px 53px;

}
.bg-wrap .navbar .logo img {

    top: 14px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link {

    font-size: 14px;
    line-height: 24px;

    padding: 13px 12px 13px 12px;}
    .bg-wrap .navbar .right .navbar-nav .nav-item .nav-link span {
    font-size: 14px;
    padding: 13px 0px 13px 0px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link.slide:after {
    top: 12px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .customer-details .name {
    font-size: 22px;

    margin: 0px 0px 5px 0px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .dropdown-menu {

    padding: 12px 12px;
    width: 320px;}
    .bg-wrap .navbar .right .navbar-nav .user-profile .customer-details .type {
   
    font-size: 16px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .price-detail {
 
    font-size: 16px;
    margin: 0px 0px 10px 0px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .customer-details .info-wrap span {
 
    font-size: 16px;}
    .bg-wrap .navbar .right .navbar-nav .user-profile .dropdown-item {

    font-size: 15px;
 
    padding: 6px 5px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item.home a {
    width: 35px;
    height: 35px;
    top: 15px;
    right: 5px;
}
  .bg-wrap .navbar .right .navbar-nav .nav-item.home a {
        width: 35px;
        height: 35px;
        top: 15px;
        right: 5px;
    }

    .bg-wrap .navbar .right .navbar-nav .nav-item .nav-link.slide:after {
        top: 10px;
    }

    .contact .left {
        position: relative;
        top: -35px;
    }

    .contact .right {
        position: relative;
        top: -35px;
    }
}

@media only screen and (max-width:1370px) {
  .back-btn-wrap a {
    background-position: -5px 0px;
    font-size: 22px;
    padding: 10px 0px 0px 48px;
    width: 45px;
    height: 50px
  }

  .back-btn-wrap a:hover {
    width: 122px;
    padding: 10px 0px 0px 48px
  }

  .back-btn-wrap {
    top: 170px
  }

  .contact .right a {
    font-size: 18px;
    line-height: 27px
  }

  .contact .right img {
    width: 150px;
    bottom: 2px
  }

  .contact .left a {
    font-size: 17px
  }

  .contact .left a img {
    width: 28px;
    position: relative;
    top: -2px
  }

  .bg-wrap .navbar {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 22px 0px
  }

  .wrh {
    top: 62%;
    right: -105px
  }

  .wrh .title {
    font-size: 18px;
    line-height: 27px;
    padding: 10px 15px
  }

  .wrh .title img {
    width: 25px
  }
.bg-wrap .navbar .right .navbar-nav .user-profile .dropdown-menu {
    max-height: 490px;
    overflow-y: auto;    width: 290px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .price-detail {
    font-size: 13px;
    margin: 0px 0px 8px 0px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .customer-details .name {
    font-size: 21px;
    margin: 0px 0px 3px 0px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .dropdown-item {
    font-size: 14px;
    padding: 5px 5px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .customer-details .info-wrap span {
    font-size: 14px;
}
    .bg-wrap .navbar .logo {
        width: 248px;
    }

    .bg-wrap .navbar .logo img {
        top: 8px;
    }
}
@media only screen and (max-width:1310px) {

    .bg-wrap .navbar .right .navbar-nav .nav-item .nav-link {
        padding: 10px 15px 10px 15px;
    }

    .bg-wrap .navbar .right .navbar-nav .nav-item .nav-link span {
        font-size: 14px;
        line-height: 24px;
    }
    .bg-wrap .navbar .right .navbar-nav .user-profile .dropdown-menu {
    max-height: 510px;

    width: 290px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item.home a {
    width: 30px;
    height: 30px;
    top: 15px;
    right: 0px;
}

}
@media only screen and (max-width:1280px) {
.bg-wrap .navbar .right .navbar-nav .nav-item.home a {
    width: 35px;
    height: 35px;
    top: 12px;
}

}



@media only screen and (max-width:1250px) {
.bg-wrap .navbar .logo {
    width: 240px;
}
}

@media only screen and (max-width:1210px) {
.back-btn-wrap {
    top: 142px;
}

  .back-btn-wrap a {
    background-position: -5px 0px;
    padding: 10px 0px 0px 44px;
    width: 40px;
    height: 48px
  }
      .bg-wrap .navbar .logo {
        width: 210px;
    }

}
@media only screen and (max-width:1025px) {
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 24px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item.home a {
    width: 30px;
    height: 30px;
    top: 15px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link {
    padding: 10px 10px 10px 10px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link span {
    font-size: 12px;
    line-height: 24px;
    padding: 10px 0px 10px 0px;
}
.contact .left a {
    font-size: 15px;
}
.contact .left a img {
    width: 26px;
}
.contact .right a {
    font-size: 16px;
    line-height: 24px;
}
.contact .right img {
    width: 160px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item.home a {
    width: 30px;
    height: 30px;
    top: 14px;
}
.user-profile button img {
    width: 28px;
    position: relative;
    right: 6px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .dropdown-menu {
    max-height: 612px;

}
.user-profile button {
    font-size: 14px;
   
    margin: 0px 12px;
    padding: 8px 18px 8px 25px;}
    .user-profile button {
    font-size: 12px;
    margin: 6px 12px 0px 12px;
    padding: 6px 12px 6px 22px;
}
}

@media only screen and (max-width:991px) {
.bg-wrap .navbar .logo {
    width: 270px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item.home a {
    background-image: none !important;
}

.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link span {
    display: block !important;
    float: left;
    width: 100%;
}

.bg-wrap .navbar .right .navbar-nav .nav-item.home a img {
    display: none;
}
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    line-height: 27px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link span {
    font-size: 18px;
    line-height: 27px;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: muliextralight, sans-serif;
}
    .bg-wrap .navbar .right .navbar-nav .nav-item .nav-link.slide:after {
    content: none;
}
.bg-wrap .navbar .right .navbar-nav .nav-item.home {
    margin: 0px 0px 0px 0px;
}
.bg-wrap .navbar-nav {
    background-color: #181716;
    padding: 20px 20px 20px 20px;
    position: absolute;
    width: 100%;
    z-index: 999;
    border-radius: 15px;
    margin: 20px 0px 0px 0px;
    position: relative;
    float: left;
    width: 100%;
}
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link {
    position: relative;
    top: 0px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item {
    height: 50px;
    line-height: 50px;
    
}

.bg-wrap .navbar .right .navbar-nav .nav-item a {
    line-height: 50px;
    height: 50px;
}

.bg-wrap .navbar .right .navbar-nav .nav-item.home a {
    top: 0px;
}
.bg-wrap .navbar .right {
    justify-content: flex-end;
    position: absolute;
    float: left;
    width: 109%;
    top: 82px;
    left: -5%;
}
.user-profile {
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: right;
}
.user-profile button {
    font-size: 16px;
    margin: 6px 12px 0px 12px;
    padding: 8px 12px 8px 22px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .dropdown-menu {
max-height: 510px;
    width: 350px;
    margin-top: 6px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .price-detail {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .customer-details .info-wrap span {
    font-size: 16px;
}
.bg-wrap .navbar .right .navbar-nav .user-profile .dropdown-item {
    font-size: 16px;
    padding: 8px 5px;
}
.user-profile button:not(:disabled):not(.disabled).active, .user-profile button:not(:disabled):not(.disabled):active, .show > .user-profile button.dropdown-toggle {
    background-color: #393745 !important;
    outline: none !important;
    border: 1px solid #515050;
    background-color: #292826 !important;
}
.user-profile button {
    
    background-color: #292826;}
    .bg-wrap .navbar .right .navbar-nav .nav-item a:before {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #d4aa09;
    position: absolute;
left: 15px;
    top: 18px;
    border-radius: 15px;
}

.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link {
    position: relative;
    padding-left: 40px;
}


.back-btn-wrap {
    top: 160px;
}
}

@media only screen and (max-width:661px) {
    .bg-wrap .navbar .logo {
        width: 325px;
        margin: -10px 0px -10px -10px;
    }
  }  
@media only screen and (max-width:481px) {
.bg-wrap .navbar .logo {
    width: 230px;
    margin: 0px;
}
.container {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    padding: 0px;
}
.bg-wrap .navbar {
    
    margin: 0px 0px 10px 0px;
}
.bg-wrap .navbar .navbar-toggler {
    margin: 15px 10px 0px 0px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link {
    font-size: 16px;
   
}
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link span {
    font-size: 16px !important;
   }
   .bg-wrap .navbar .right .navbar-nav .nav-item a::before {
    left: 20px;
    top: 19px;
}
}
@media only screen and (max-width:414px) {
.contact .left a img {
position: absolute;
width: 25px;
top: 3px;
left: 0px;

}
.contact .left a {
    font-size: 14px;
    padding-left: 10px;position: relative;
}
.contact .left a img {
    position: absolute;
    width: 25px;
    top: 3px;
}
.contact .left a {
    font-size: 14px;
    padding-left: 20px;
}

}

@media only screen and (max-width:335px) {
.bg-wrap .navbar .logo {
    width: 200px;
    margin: 0px;
}
}
#menuToggle
{
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ffcb00;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(
45deg) translate(-21px, -18px);
    background: #ffcb00;
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(
-45deg) translate(0px, 14px);
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(
45deg) translate(-6px, -18px);
    background: #ffcb00;
}